Welcome, <%= current_user.name %><br></br>
<h2>Your Classes</h2>


<% @fitness_classes.each do |fit_class| %>
  <div class="boxed" align="center">
    <p></p>
  &nbsp;&nbsp;&nbsp;&nbsp;Class Name:<%= fit_class.name %><br></br>
  &nbsp;&nbsp;&nbsp;&nbsp;Date:<%= fit_class.date %><br></br>
  &nbsp;&nbsp;&nbsp;&nbsp;Time:<%= fit_class.time.strftime("%l:%M %p") %><br></br>
  &nbsp;&nbsp;&nbsp;&nbsp;Duration: <%= fit_class.duration %><br></br>
  &nbsp;&nbsp;&nbsp;&nbsp;Instructor: <%= fit_class.instructor %><br></br>
  </div>
<% end %>


<a href="/fitness_classes/new">Create a new class</a><br></br>
<a href="/logout">Log out</a>
